{
  "openapi": "3.0.0",
  "info": {
    "title": "Api Documentation E-Flight Tickets",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.flywithme-api.me/"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Users API Collection"
    },
    {
      "name": "Admins",
      "description": "Admins API Collection"
    },
    {
      "name": "AirPorts",
      "description": "AirPorts API Collection"
    }
  ],
  "paths": {
    "/api/register": {
      "post": {
        "tags": ["Users"],
        "requestBody": {
          "description": "Success registered new user",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "zidanset@mail.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "balasewu"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Zidan"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "bagus"
                  },
                  "NIK": {
                    "type": "number",
                    "example": "3328080203000011"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 13,
                    "example": "0853567889"
                  },
                  "address": {
                    "type": "string",
                    "example": "tegal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success created new user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Register success, enjoy your flight with us"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "newUser": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "3"
                            },
                            "roleId": {
                              "type": "string",
                              "example": "buyer"
                            },
                            "gender": {
                              "enum": ["Male", "Female"],
                              "example": "Male"
                            },
                            "NIK": {
                              "type": "number",
                              "example": "3328080203000011"
                            },
                            "address": {
                              "type": "string",
                              "example": "tegal"
                            },
                            "phoneNumber": {
                              "type": "integer",
                              "example": "0853567889"
                            },
                            "dateOfBirth": {
                              "type": "string",
                              "format": "date",
                              "example": "2002-01-01"
                            },
                            "lastName": {
                              "type": "string",
                              "example": "bagus"
                            },
                            "firstName": {
                              "type": "string",
                              "example": "Zidan"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "example": "zidanset@mail.com"
                            },
                            "password": {
                              "type": "string",
                              "format": "password",
                              "example": "$2b$10$YvNNf.b.T6jaUbbgJo6xduOCeuL6HkgXDXZXyMeQX14cSnmEvAKwa"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date",
                              "example": "2022-11-30T04:05:32.493Z"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date",
                              "example": "2022-11-30T04:05:32.493Z"
                            },
                            "image": {
                              "type": "string",
                              "example": "https://ik.imagekit.io/wx1jhmfkq/IMG-1670179576090_eH8RGZxIY.jpeg"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "user already exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "email already exist!"
                    }
                  }
                }
              }
            }
          },
          "400*": {
            "description": "email not filled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "email is required"
                    }
                  }
                }
              }
            }
          },
          "400**": {
            "description": "Email is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "This email is invalid. Make sure it's written like  example@email.com"
                    }
                  }
                }
              }
            }
          },
          "400***": {
            "description": "name not filled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Name is required"
                    }
                  }
                }
              }
            }
          },
          "400****": {
            "description": "password not filled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "password is required"
                    }
                  }
                }
              }
            }
          },
          "400*****": {
            "description": "password is too short",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Your password is too short"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "tags": ["Users"],
        "requestBody": {
          "description": "This is Login API",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "zidanset5@mail.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "balasewu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Login successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "reinhart1@gmail.com"
                        },
                        "password": {
                          "type": "string",
                          "format": "password",
                          "example": "$2b$10$R362dIdU5ZgRtEQ3cntQWu6A0P57njfbBMP.8IRcykHZvzgrIGIRu"
                        },
                        "firstName": {
                          "type": "string",
                          "example": "reinhart00"
                        },
                        "lastName": {
                          "type": "string",
                          "example": "jims"
                        },
                        "NIK": {
                          "type": "number",
                          "example": "12345678"
                        },
                        "address": {
                          "type": "string",
                          "example": "rumahku dimana no 10"
                        },
                        "phoneNumber": {
                          "type": "string",
                          "minLength": 10,
                          "maxLength": 13,
                          "example": "1234567"
                        },
                        "image": {
                          "type": "string",
                          "example": "https://ik.imagekit.io/wx1jhmfkq/IMG-1670179576090_eH8RGZxIY.jpeg"
                        },
                        "dateOfBirth": {
                          "type": "string",
                          "format": "date",
                          "example": "2002-01-01"
                        },
                        "gender": {
                          "enum": ["Male", "Female"],
                          "example": "Male"
                        },
                        "roleId": {
                          "type": "string",
                          "example": "buyer"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-11-29T16:09:33.244Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-11-29T16:09:33.244Z"
                        }
                      }
                    },
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MywiZmlyc3ROYW1lIjoiWmlkYW4iLCJsYXN0TmFtZSI6ImJhZ3VzIiwiZW1haWwiOiJ6aWRhbnNldEBtYWlsLmNvbSIsInBhc3N3b3JkIjoiJDJiJDEwJFl2Tk5mLmIuVDZqYVViYmdKbzZ4ZHVPQ2V1TDZIa2dYRFhaWHlNZVFYMTRjU25tRXZBS3dhIiwiYWRkcmVzcyI6IjA4NTM1Njc4ODkiLCJwaG9uZU51bWJlciI6ODUzNTY3ODg5LCJyb2xlSWQiOiJidXllciIsImdlbmRlciI6bnVsbCwiZGF0ZU9mQmlydGgiOm51bGwsIk5JSyI6IjMzMjgwODAyMDMwMDAwMTEiLCJpYXQiOjE2Njk3ODQxODcsImV4cCI6MTY2OTg3MDU4N30.-18IUSvKUD-M4h6p6Y6E9FbswubgA_I0G2oo0TDMcfM"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Wrong Password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Wrong Password"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "User Not found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/findAll": {
      "get": {
        "tags": ["Users"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "responses": {
          "201": {
            "description": "Success get all users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "success get all users"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "reinhart1@gmail.com"
                        },
                        "password": {
                          "type": "string",
                          "format": "password",
                          "example": "$2b$10$R362dIdU5ZgRtEQ3cntQWu6A0P57njfbBMP.8IRcykHZvzgrIGIRu"
                        },
                        "firstName": {
                          "type": "string",
                          "example": "reinhart00"
                        },
                        "lastName": {
                          "type": "string",
                          "example": "jims"
                        },
                        "NIK": {
                          "type": "number",
                          "example": "12345678"
                        },
                        "address": {
                          "type": "string",
                          "example": "rumahku dimana no 10"
                        },
                        "phoneNumber": {
                          "type": "string",
                          "minLength": 10,
                          "maxLength": 13,
                          "example": "1234567"
                        },
                        "image": {
                          "type": "string",
                          "example": "https://ik.imagekit.io/wx1jhmfkq/IMG-1670179576090_eH8RGZxIY.jpeg"
                        },
                        "dateOfBirth": {
                          "type": "string",
                          "format": "date",
                          "example": "2002-01-01"
                        },
                        "gender": {
                          "enum": ["Male", "Female"],
                          "example": "Male"
                        },
                        "roleId": {
                          "type": "string",
                          "example": "buyer"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-11-29T16:09:33.244Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-11-29T16:09:33.244Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/findById/{id}": {
      "get": {
        "tags": ["Users"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "get users by id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "success get user by id"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "reinhart1@gmail.com"
                        },
                        "password": {
                          "type": "string",
                          "format": "password",
                          "example": "$2b$10$R362dIdU5ZgRtEQ3cntQWu6A0P57njfbBMP.8IRcykHZvzgrIGIRu"
                        },
                        "firstName": {
                          "type": "string",
                          "example": "reinhart00"
                        },
                        "lastName": {
                          "type": "string",
                          "example": "jims"
                        },
                        "NIK": {
                          "type": "number",
                          "example": "12345678"
                        },
                        "address": {
                          "type": "string",
                          "example": "rumahku dimana no 10"
                        },
                        "phoneNumber": {
                          "type": "string",
                          "minLength": 10,
                          "maxLength": 13,
                          "example": "1234567"
                        },
                        "image": {
                          "type": "string",
                          "example": "https://ik.imagekit.io/wx1jhmfkq/IMG-1670179576090_eH8RGZxIY.jpeg"
                        },
                        "dateOfBirth": {
                          "type": "string",
                          "format": "date",
                          "example": "2002-01-01"
                        },
                        "gender": {
                          "enum": ["Male", "Female"],
                          "example": "Male"
                        },
                        "roleId": {
                          "type": "string",
                          "example": "buyer"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-11-29T16:09:33.244Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-11-29T16:09:33.244Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/update/{id}": {
      "put": {
        "tags": ["Users"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id of user to update",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "email",
            "required": true,
            "description": "email of user to update",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "password",
            "required": true,
            "description": "password of user to update",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 16
            }
          },
          {
            "in": "query",
            "name": "First Name",
            "required": true,
            "description": "First Name of user to update",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Last Name",
            "required": true,
            "description": "Last Name of user to update",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "NIK",
            "required": true,
            "description": "NIK of user to update",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "Phone Number",
            "required": true,
            "description": "Phone Number of user to update",
            "schema": {
              "type": "string",
              "minLength": 10,
              "maxLength": 13
            }
          },
          {
            "in": "query",
            "name": "Adress",
            "required": true,
            "description": "Adress of user to update",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Date Of Birth",
            "required": true,
            "description": "Date Of Birth of user to update",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "Gender",
            "required": true,
            "description": "Gender of user to update",
            "schema": {
              "type": "string",
              "enum": ["Male", "Female"]
            }
          },
          {
            "in": "query",
            "name": "Role Id",
            "required": true,
            "description": "Role Id of user to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update user by id",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["image"],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess update users by id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Your profile has been update sucessfull"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/delete/{id}": {
      "delete": {
        "tags": ["Users"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id of users to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "User has been deleted sucessfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/login/admin": {
      "post": {
        "tags": ["Admins"],
        "requestBody": {
          "description": "This is Login API",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "zakir@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "0205"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Welcome Nadir enjoy your work and have a nice day"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "zakir@gmail.com"
                        },
                        "password": {
                          "type": "string",
                          "format": "password",
                          "example": "$2b$10$y8bCMnhepLFdz1xs7PrtB.EFmFMyI9U956RKleCrx0gL2nIGw2ek6"
                        },
                        "firstName": {
                          "type": "string",
                          "example": "Nadir"
                        },
                        "lastName": {
                          "type": "string",
                          "example": "Nawi"
                        },
                        "roleId": {
                          "type": "string",
                          "example": "Nawi"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-11-29T16:09:33.244Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-11-29T16:09:33.244Z"
                        }
                      }
                    },
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZmlyc3ROYW1lIjoiTmFkaXIiLCJsYXN0TmFtZSI6Ik5hd2kiLCJlbWFpbCI6Inpha2lyQGdtYWlsLmNvbSIsInBhc3N3b3JkIjoiJDJiJDEwJFNReW1MYWp6ajltWDVTalhRYk1oS2VYeW84SDUuS01vamhxeWZ1TzFiaW5McTJma0NhSllxIiwicm9sZUlkIjoiYWRtaW4iLCJpYXQiOjE2Njk4MDcwODAsImV4cCI6MTY2OTg5MzQ4MH0.s7TlsnIHvjT4TRvlZC_kDX50qGG1N2YtB095pu_7q6w"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Wrong Password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid Password"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Admin Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Admin Not found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/airports/add": {
      "post": {
        "tags": ["AirPorts"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "requestBody": {
          "description": "Success add new airport",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Soekarno-Hatta International Airport"
                  },
                  "code": {
                    "type": "string",
                    "maxLength": 3,
                    "example": "CGK"
                  },
                  "location": {
                    "type": "string",
                    "example": "Jakarta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success add airport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success create new airport"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AirPorts"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/airports/findAll": {
      "get": {
        "tags": ["AirPorts"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "responses": {
          "201": {
            "description": "Success get all airports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success get all Airports"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AirPorts"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/airports/findById/{id}": {
      "get": {
        "tags": ["AirPorts"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "get airport by id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success get Airports by id"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AirPorts"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/airports/update/{id}": {
      "put": {
        "tags": ["AirPorts"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id of airport to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "update airport by id",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Soekarno-Hatta International Airport"
                  },
                  "code": {
                    "type": "string",
                    "maxLength": 3,
                    "example": "CGK"
                  },
                  "location": {
                    "type": "string",
                    "example": "Jakarta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success update airport by id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Airport has been update sucessfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/airports/delete/{id}": {
      "delete": {
        "tags": ["AirPorts"],
        "security": [
          {
            "bearerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id of airport to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete airport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Airport has been deleted sucessfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Users": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "reinhart1@gmail.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "$2b$10$R362dIdU5ZgRtEQ3cntQWu6A0P57njfbBMP.8IRcykHZvzgrIGIRu"
          },
          "firstName": {
            "type": "string",
            "example": "reinhart00"
          },
          "lastName": {
            "type": "string",
            "example": "jims"
          },
          "NIK": {
            "type": "number",
            "example": "12345678"
          },
          "address": {
            "type": "string",
            "example": "rumahku dimana no 10"
          },
          "phoneNumber": {
            "type": "string",
            "minLength": 10,
            "maxLength": 13,
            "example": "1234567"
          },
          "image": {
            "type": "string",
            "example": "https://ik.imagekit.io/wx1jhmfkq/IMG-1670179576090_eH8RGZxIY.jpeg"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "2002-01-01"
          },
          "gender": {
            "enum": ["Male", "Female"],
            "example": "Male"
          },
          "roleId": {
            "type": "string",
            "example": "buyer"
          },
          "createdAt": {
            "type": "string",
            "format": "date",
            "example": "2022-11-29T16:09:33.244Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date",
            "example": "2022-11-29T16:09:33.244Z"
          }
        }
      },
      "AirPorts": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Soekarno-Hatta International Airport"
          },
          "code": {
            "type": "string",
            "maxLength": 3,
            "example": "CGK"
          },
          "location": {
            "type": "string",
            "example": "Jakarta"
          },
          "updatedAt": {
            "type": "string",
            "format": "date",
            "example": "2022-12-03T01:06:05.920Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date",
            "example": "2022-12-03T01:06:05.920"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
